body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Images/picture_sign_in.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-brand, .nav-link {
    color: #fff;
    text-decoration: none;
}

.login-container {
    background-color: #636060e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

.forgot-password {
    float: right;
    font-size: 16px;
    color: rgb(221, 218, 218);
}

.social-login {
    text-align: center; 
}

.or {
    margin: 20px 0; 
    font-weight: bold;
    color: black;
}

.btn-primary, .btn-secondary, .btn-social {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-social {
    margin-bottom: 10px;
}

.google {
    background-color: #ea4335;
}

.google a {
    color: #fff;
    text-decoration: none;
}

.apple {
    background-color: #000;
}

header {
    margin: 0;
}

header div {
    padding: 2rem;
}

.container {
    margin-top: 50px;
}

.nav-link-sign {
    border: 1px solid;
    border-color: rgb(33, 37, 41);
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-top: 0; 
    margin-bottom: 0; 
}

.form-check-label {
    margin-left: 5px;
    margin-bottom: 0; 
    display: flex;
    align-items: center; 
}

.google:hover{
    color: white;
    background-color: #ea4335;
}

.login-header{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.login-header h3{
    padding: 0.75rem;
    color: black;
    font-weight: bold;
}

