/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-brand, .nav-link {
    color: #fff;
    text-decoration: none;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

.forgot-password {
    float: right;
    font-size: 14px;
}

.or {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-primary, .btn-secondary, .btn-social {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-social {
    margin-bottom: 10px;
}

.google {
    background-color: #ea4335;

}
.google a{
    color: #fff;
    text-decoration: none;

}

.apple {
    background-color: #000;
}

header {
    margin: 0;
}
header div{
    padding: 2rem;
}
.container {
    margin-top: 50px;
}
.nav-link-sign{
   border: 1px solid ;
   border-color: rgb(33, 37, 41);
}
