.row{
   margin-top: 2rem;
   padding-top: 2rem;
}
div img{
   width: 100%;
   height: 100%;
   rotate: 90deg;
   padding-top: 4rem;
}
.football-pitch {
   width: 600px;
   height: 400px;
   background-color: green;
   position: relative;
   margin: 20px auto;
}
.player {
   width: 100px; /* Adjust the width as needed */
   height: 100px; /* Adjust the height as needed */
   background-color: white;
   position: absolute;
   border: 1px solid black; /* Add border for better visibility */
   border-radius: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Style for player names */
.player-name {
   text-align: center;
}
.style-dropdown-btn {
   background-color: rgb(33, 37, 41) !important;
}

.nav-link-sign {
   border: 1px solid;
   border-color: rgb(33, 37, 41);
}
header {
   margin: 0;
}

header div {
   padding: 2rem;
}
.btn-margin {
   margin-top: 1rem;
   margin-left: 2rem;
   margin-bottom: 1rem;
}
.btn-delete {
   margin-left: 45rem;
}
.player-margin{
   margin-top: 2rem;
}
header {
   margin: 0;
}

header div {
   padding: 2rem;
}

.style-dropdown-btn{
   background-color: rgb(33, 37, 41) !important;
}
.nav-link-sign {
   border: 1px solid;
   border-color: rgb(33, 37, 41);
}
.nav-link-sign:hover {
   border: 1px solid rgb(33, 37, 41);
   border-radius: 5px;
   text-align: center;
   transition-duration: 0.5s;
}
.nav-link-sign:not(:hover)
{
   border: 1px solid rgb(33, 37, 41);
   border-radius: 5px;
   text-align: center;
}
.player-div {
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 10px;
   margin: 10px 0;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #333;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
}

.player-div::before {
   content: '\1F3C3'; /* Running emoji */
   margin-right: 10px;
   font-size: 20px;
}